.GoalHeader {
  text-align: center;
  background: #f9fcfe;
  color: #38405e;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.GoalHeader {
  width: 100%;
  background: #38405e;
  padding: 1em 0;
  color: white;
}
.GoalHeader h1 span {
  font-size: 90%;
  color: #1bbbef;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

#InProgress {
  background: #cceeff;
  line-height: 5px;
  overflow: hidden;
}

/**TOGGLE CSS***/
.tgl-flip + .tgl-btn {
  padding: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: sans-serif;
  -webkit-perspective: 100px;
  perspective: 100px;
}
.tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before {
  display: inline-block;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  width: 50px;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 4px;
}
.tgl-flip + .tgl-btn:after {
  content: attr(data-tg-on);
  background: #00c632;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.tgl-flip + .tgl-btn:before {
  background: #FF3A19;
  content: attr(data-tg-off);
}
.tgl-flip + .tgl-btn:active:before {
  -webkit-transform: rotateY(-20deg);
  transform: rotateY(-20deg);
}
.tgl-flip:checked + .tgl-btn:before {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.tgl-flip:checked + .tgl-btn:after {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  left: 0;
  background: #7FC6A6;
}
.tgl-flip:checked + .tgl-btn:active:after {
  -webkit-transform: rotateY(20deg);
  transform: rotateY(20deg);
}
.tgl {
  display: none;
}
body {
  text-align: center;
  background: #f9fcfe;
  color: #38405e;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/**TABLE CSS***/
.container {
  font-family: helvetica;
  font-weight: normal;
  width: 1200px;
  margin: 0 auto;
}
.accordion-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.accordion-table td,
.accordion-table th {
  width: 16.666667%;
  vertical-align: middle;
}
.accordion-table th {
  font-size: 20px;
  color: #38405e;
}
.accordion-table td {
  color: #38405e;
}
.accordion-table .header-level {
  cursor: pointer;
}
.accordion-table > thead {
  position: relative;
  padding: 30px 15px;
  color: #7986CB;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.accordion-table > tbody {
  background: #98c0ff;
  line-height: 25px;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.accordion-table > tbody:last-child {
  border-bottom: 3px solid black;
}
.accordion-table > tbody > tr > td {
  font-weight: normal;
  font-size: 16px;
  text-align: left;
}
.accordion-table > tbody .sub-level td {
  height: auto;
  overflow: hidden;
  background: #cceeff;
}
