<div ng-if="isAuthenticated()">

  <header class="GoalHeader">
    <h1>Your Goals <span>( {{ numberOfGoals }} )</span></h1>
  </header>
  <!--<main>-->

    <!--<div layout="row" layout-align="center" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>-->

  <!--<span>-->
      <!--<md-content >-->
        <!--<md-toolbar class="md-hue-1">-->
          <!--<div class="md-toolbar-tools">-->
            <!--<span>In Progress</span>-->
          <!--</div>-->
        <!--</md-toolbar>-->
        <!--<md-list flex id="InProgress" >-->
          <!--<md-list-item class="md-1-line" ng-repeat="goal in goals" ng-click="null" >-->
            <!--<img ng-src="assets/images/running.png" class="md-avatar"/>-->
            <!--<div class="md-list-item-text" layout="">-->
              <!--<Strong>{{goal.name}}</Strong>-->

              <!--<ul class="grid-date" ng-bind="goal.startDate | date:'dd/MM/yyyy'"></ul>-->
              <!--<ul class="grid-date" ng-bind="goal.endDate | date:'dd/MM/yyyy'">End Date</ul>-->
              <!--<ul> <md-button ng-click="delete(goal)" class="md-raised">delete</md-button></ul>-->
              <!--<ul> <md-button ng-click="editGoal(goal)" class="md-raised">edit</md-button></ul>-->
              <!--<div layout="row">-->
               <!--</div>-->
            <!--</div>-->
          <!--</md-list-item>-->
      <!--</md-content>-->
  <!--</span>-->
    <!--</div>-->

  <!--</main>-->
  <div class="container">
    <table class="accordion-table" >
      <thead>
      <tr>
        <th ng-click="sorting('name')">Name</th>
        <th>Status</th>
        <th ng-click="sorting('startDate')">Start Date</th>
        <th ng-click="sorting('endDate')">End Date</th>
        <th ng-click="sorting('wantUpdate')">Notify</th>
        <th ng-click="sorting('subGoal')">Milestones</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody ng-repeat="goal in goals" ng-click="toggleTable(goal)" >
      <tr class="header-level" >
        <td><Strong>{{goal.name}}</Strong></td>
        <td><md-progress-linear class="Progress" md-mode="determinate" value="{{goalStatus(goal)}}"> </md-progress-linear> <Strong> {{goalStatus(goal)}}%</Strong></td>
        <td class="grid-date" ng-bind="goal.startDate | date:'dd/MM/yyyy'">{{goal.startDate}}</td>
        <td class="grid-date" ng-bind="goal.endDate | date:'dd/MM/yyyy'">{{goal.endDate}}</td>
       <td><input class='tgl tgl-flip' id="{{$index}}" type='checkbox' ng-model="goal.wantUpdate" ng-change="wantUpdate(goal)">
          <label class='tgl-btn' data-tg-off='Nope' data-tg-on='Yeah!' for='{{$index}}' ></label></td>
        <td>{{goal.subGoal.length}}</td>
        <td><md-button ng-click="delete(goal)" class="md-primary">Delete</md-button></td>
        <td><md-button ng-click="editGoal(goal)" class="md-primary">Edit</md-button></td>
      </tr>
      <tr class="sub-level" ng-show="goal.hiddenTable" >
        <td colspan="8">
          <table class= "accordion-table">
            <thead>
            <th>Milestone</th>
            <th>Done</th>
            </thead>
            <tbody>
            <tr ng-repeat="milestone in goal.subGoal">
              <td>{{milestone.name}}</td>
              <td>{{milestone.done}}</td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>

<table class="InProgress">
  <tbody class="InProgress-tbody" dir-paginate="goal in goals|orderBy:orderByField:reverseSort|itemsPerPage:10" current-page="pagination.current" total-items="numberOfGoals">


  <div ng-if="!isAuthenticated()">
  <h1>Please Log In</h1>
</div>
