
<md-toolbar>
  <div class="md-toolbar-tools">
    <span flex="20"></span>
    <div layout="row">
    <md-button class="md-primary" ui-sref-active="active"><a ui-sref="main">Home</a></md-button>
    <md-button class="md-primary" ui-sref-active="active"><a ui-sref="goal">Goal</a></md-button>
    <md-button class="md-primary" ng-show="isLoggedIn()" ng-click="add()">Add Goal</md-button>
    </div>


    <md-button class="md-primary" ng-show="isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></md-button>
    <md-button class="md-primary" ng-hide="isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></md-button>
    <md-button class="md-primary" ng-hide="isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></md-button>
    <md-button class="md-primary" ng-show="isLoggedIn()" ui-sref-active="active" aria-label="control"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></md-button>
    <md-button class="md-primary" ng-show="isLoggedIn()"><a ui-sref="logout">Logout</a></md-button>
    </md-button><div ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p></div>
      <span flex="20"></span>
  </div>
</md-toolbar>
