
#banner {
  border-bottom: none;
  margin-top: -20px;
}
#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}
.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: white;
}
.navbar-text {
  margin-left: 15px;
}
#newShared {
  background: #cceeff;
  width: 400px;
  height: 100%;
  line-height: 5px;
  overflow: hidden;
}
#star {
  width: 20px;
  height: 20px;
}
.slider {
  position: relative;
  width: 100%;
  height: 470px;

}
.slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.active-slide {
  display: block;
}
.
/* Slide feature */

.slider-nav {
  text-align: center;
  margin-top: 20px;
}
.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}
.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}
.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}
.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}
.slider-dots li.active-dot {
  color: #363636;
}
#padIt {
  padding-top: 2px;
}
#statusLine {
  width: 75%;
}
#subs {
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 200px;
  height: 1.2em;
  padding-bottom: 2px;
}

.goaltrackerlogo{
  width: 500px;
  height: 300px;
}
