<div class="">

  <table class="table">
 <h1 ng-if="goalIsEmpty"><i class="fa fa-plus"></i> Create new Goal</h1>
 <h1 ng-if="!goalIsEmpty"><i class="fa fa-pencil"></i> Edit Goal</h1>

    <tr>
      <td>
          <md-input-container>
              <input ng-model="goal.name" required placeholder="Enter Goal Name">
              <md-button ng-if="goalIsEmpty" ng-click="add()" class="md-raised">Add</md-button>
              <md-button  ng-if="!goalIsEmpty" ng-click="add()" class="md-raised">Save</md-button>
          </md-input-container>
     </td>
     <td></td>
   </tr>

 <md-content layout-gt-xs="row">
   <tr>
     <td>
       <h4>Start Date </h4>
       <md-datepicker ng-model="goal.startDate" md-placeholder="Enter date">
      </md-datepicker>
    </td>

    <td>
      <h4>End Date </h4>
      <md-datepicker ng-model="user.endDate" md-placeholder="Enter date">
     </md-datepicker>
   </td>
 </tr>

 </md-content>

  </table>

  </div>
  name: String,
  startDate: Date,
  endDate: Date,
  wantUpdate: Boolean,
  updateInterval: Number,
  share: Boolean,
  type:{
    name: String,
    endGoal: String,
    status: Number
  }
